.blog-container{
    /* margin-top: -px; */
    display: flex;
    flex-wrap: nowrap; /* Prevent items from wrapping to the next line */
    justify-content: flex-start; /* Align items to the start */
    padding: 20px;
    gap: 5px;
    overflow-x: auto; /* Enable horizontal scrolling */
    width: 100%; /* Ensure the container takes up the full width */
    background-color: #dfdfdf4b;
    margin-bottom: 10px;
    border-color: black;
    border: 1px;
}