<div class="blogCard" >
  <img [src]="BlogImg" alt="not found" class="blog-card-image">

  <div>
    <p>{{Blog.title?.substring(0,50)+'..'}}</p>
    <p>{{Blog.createdAt!|date}}</p>
  </div>
  <p>{{Blog.content!|cardContent}}</p>
  

  <div>
    <p>Author:{{Blog.author.name}}</p>
    <div class="views-container"> <img src="https://cdn-icons-png.flaticon.com/128/709/709724.png" alt="">
      <p>{{Blog.views}}</p>
    </div>
    <div class="likes-container"> <a href=""><img src="https://cdn-icons-png.flaticon.com/128/3128/3128313.png" alt=""></a>
      <p>{{Blog.likesCount}}</p>
    </div>
  </div>

  <!-- <button (click)="openBlog()">Open</button> -->
  <div class="icon-container">
    
    <i class="pi pi-ban" *ngIf="!Blog.isActive"></i>
    <i class="pi pi-check"  *ngIf="(!Blog.isActive && loggedUser.role ==='Admin')" (click)="activateBlog()"></i>
    <!-- <button *ngIf="(!Blog.isActive && loggedUser.role ==='Admin')" (click)="activateBlog()">activate</button> -->
    <i class="pi pi-trash" *ngIf="Blog.author.id===loggedUser.id || loggedUser.role==='Admin' " (click)="deletBlog()"></i>

    <i class="pi pi-arrow-up-right-and-arrow-down-left-from-center" (click)="openActiveBlog()"></i>
  </div>

  
</div>






