/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body{
    margin: 0px;
    padding: 0px;
    overflow: scroll; 
}
::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
  }